.homePage-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
body {
    background-image: url(images/bk6.jpg);
    background-size: cover;
    /* height: fit-content; */
    background-repeat: no-repeat;
    /* background-position: center; */
}

.input-container{
    margin-right: 300px;
}

.viewProfile-image{
    margin-left:130px;
    
}

.viewFont{
    font-family: Georgia;
    margin-right:300px;
}

.whiteboard{
    height:500px;
    width:800px;
}

.more{
    margin-bottom:50px;
    text-decoration: underline;
}

.homePage-container .input-container input{
    font-size:24px;
    display: block;
    padding: 10px 20px;
    margin:10px;
    border: 3px solid black;
    border-radius: 12px;
}

.homePage-container .input-container button{
    display: block;
    font-size: 24px;
    width:100%;
    padding: 10px 20px;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 12px;
}

.meeting{
    margin-bottom: 8px;
    background: rgb(148, 138, 74, 0.9) ;
    font-family: Comic Sans MS;
    padding: 0.6em;
    font-weight: 300;
    font-size: 20px;
    border: 0.5px solid rgb(78, 62, 2);
    /* border: 0.5px solid black; */
    border-radius: 30px;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.07em;
    margin-right: 1px;
    margin-top: 20px;
}

.link{
    text-decoration: none;
}

.notifications{
    padding-top:40px;
    /* width:1200px; */
    margin-bottom:20px;
}

.chat{
    background-color: white;
    width: 640px;
    height:900px;
    margin-left:118px;
}

.chat-name{
    width:70px;
    margin-left:5px;
}

.profile-pic{
    margin-bottom:20px;
}

.video{
    padding-left:60px;
    margin-right:11px;
}

.videoBack{
    padding-top:30px;
}
/* .thisOne{
    width:2000px;
} */

.vid-container{
    margin-left :150px;
    margin-right :150px;
    background-color: white;
    width:80%;
    height:80%;
}

.chat-top {
    font-family: Montserrat, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 10px;
    background-color:rgb(167, 152, 65, 0.6);
    border-radius: 30px;
    }

input {
    border-radius: 10px;
    }

.input2{
    width:300px;
    margin-left:15px;
}

.send{
    border-radius: 10px;
    margin-left:20px;
    background-color:rgb(167, 152, 65, 0.6);
    }

.primary{
    background-color:rgb(167, 152, 65, 0.6);
}

.sidebar{
    margin-left:21px;
    width: 1350px;
}

.side{
    margin-left: 80px;
}

button{
    margin-bottom: 50px;
    background-color: rgb(120, 168, 168);
}

body .btn-outline-light{
    background-color: rgb(107, 75, 252);
    color:rgb(251, 250, 251);
}

.bub {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    box-shadow: inset 5px -5px 10px white;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .01);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: -100px;
    /* animation: bubble 3s ease-in infinite; */
}

.bub::before {
    position: absolute;
    content: "";
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 25px;
    right: 23px;
    box-shadow: 0px 0px 20px white;
}

.bub.a {
    left: 10%;
    animation: bubble2 2s ease-in 1s infinite;
}

.bub.b {
    left: 90%;
    animation: bubble 1.5s ease-in 1.4s infinite;
}

.bub.c {
    left: 95%;
    animation: bubble 5s ease-in 3.8s infinite;
}

.bub.d {
    left: 97%;
    animation: bubble 1.8s ease-in .5s infinite;
}

.bub.e {
    left: 4%;
    animation: bubble2 2.3s ease-in 2.5s infinite;
}

/* .bub.f {
    left: 5%;
    animation: bubble 2.5s ease-in 3s infinite;
}
.bub.g {
    left: 8%;
    animation: bubble 2.2s ease-in 2s infinite;
}
.bub.k {
    left: 7%;
    animation: bubble 1.6s ease-in 2s infinite;
}
.bub.i {
    left: 91%;
    animation: bubble2 1.8s ease-in 2.1s infinite;
}
.bub.j {
    left: 3%;
    animation: bubble 2s ease-in 1.5s infinite;
}
.bub.h {
    left: 1%;
    animation: bubble2 3s ease-in infinite;
} */

@keyframes bubble {
    0% {
        opacity: 0;
    }
    10%,
    93% {
        opacity: 1;
    }
    100% {
        transform: translate(90px, -700px);
        display: none;
    }
}

@keyframes bubble2 {
    0% {
        opacity: 0;
    }
    10%,
    93% {
        opacity: 1;
    }
    100% {
        transform: translate(-90px, -700px);
        display: none;
    }
}

.logo{
    width:100px;
    height:90px;
    border-radius: 100%;
}

.navbar{
    color: rgb(145, 99, 15);
    background-blend-mode: 0;
    background-color:rgb(167, 152, 65, 0.6);
    padding-top:30px;
    padding-bottom:30px;
}

.back-logout{
    background-color:rgb(167, 152, 65, 0.6);
    color:rgb(167, 152, 65, 0.6);
}

.nav-bar{
    /* rgb(231, 121, 18) */
    background-blend-mode: 0;
    border-radius: 30px;
    background-color:white;
    padding-right:150px;
    padding-left:150px;
}

.nav-welcome{
    margin-left: 72px;
    font-family:Comic Sans MS;
    color: black;
    font-size: large;
    margin-right:50px;
}

.nav-signUp{
    font-family: Comic Sans MS;
    color: black;
    font-size: large;
    margin-right:50px;
    margin-left:50px;
}

.nav-resources{
    font-family:Comic Sans MS;
    color: black;
    font-size: large;
    margin-right:150px;
    margin-left:50px;
}

.nav-welcome{
    margin-right:50px;
    margin-left:50px;
}

.nav-signUp{
    margin-right:50px;
    margin-left:50px;
}

.nav-resources{
    margin-right:150px;
    margin-left:50px;
}

.back{
    margin-right:100px;
    margin-left:50px;
    /* margin-top:20px; */
}

/* .logout{
    margin-top:20px;
} */

.home-image{
    width:600px;
    height:600px;
    border-radius: 100%;
    border-width: 45px;
    border-color:  rgb(167, 152, 65, 0.2);
    border-style:solid;
}

.chat-bubble-container {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.chat-bubble-name {
    font-weight: bold;
    margin-right: 10px;
}

.chat-bubble {
    background-color:rgb(167, 152, 65, 0.2);
    border-radius: 10px;
    padding: 10px;
    /* position: relative; */
}

.heading{
    font-family: 'Brush Script MT';
    font-size: 150px;
    font-weight: bolder;
    color:rgb(36, 17, 33);
}
.chat-bubble::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 100%;
    border-top: 10px solid transparent;
    border-right: 10px solid rgb(167, 152, 65, 0.2);;
    border-bottom: 10px solid transparent;
}

.back-logout {
    display: inline-block;

    font: normal normal 300 1.0em 'Open Sans';
    text-decoration: none;

    color: rgb(167, 152, 65,);
    background-color: transparent;
    border: 1px solid rgb(167, 152, 65, 0.7);
    border-radius: 100px;

    padding: .3em 1.2em;
    margin: 5px;

    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgb(167, 152, 65, 0.7) 50%);
    transition: background-position .3s cubic-bezier(0.19, 1, 0.22, 1) .1s, color .5s ease 0s, background-color .5s ease;
}

.back-logout:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(167, 152, 65, 0.7);
    background-position: -100% 100%;
}

.space{
    margin-left:30px;
}

.whiteboard2{
    display:flex;
}